@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
    }
}

body {
    width: 100svw;
    height: 100svh;
    // https://stackoverflow.com/a/33168168/2398020
    overflow: hidden;
    position: fixed;
}

#gesture-area {
    position: absolute;
    width: 100svw;
    height: 100svh;

    img {
        touch-action: none;
        user-select: none;

        position: absolute;

        // Always use pixel width.
        max-width: none;
        width: auto;

        transform-origin: 0 0;

        &#img-ref {
            border: 0.2svw solid grey;
        }

        &[src="data:,"] {
            display: none;
        }
    }
}

.control {
    position: absolute;
    display: flex;
}