body {
    touch-action: none;
    user-select: none;

    width: 100svw;
    height: 100svh;
    // https://stackoverflow.com/a/33168168/2398020
    overflow: hidden;
    position: fixed;

    background-color: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: white;
    }
}

#gesture-area {
    position: absolute;
    width: 100svw;
    height: 100svh;

    img {
        position: absolute;

        // Always use pixel width.
        max-width: none;
        width: auto;

        transform-origin: 0 0;

        &#img-ref {
            border: 0.2svw solid grey;
        }

        &[src="data:,"] {
            display: none;
        }
    }
}

.control {
    position: absolute;
    display: flex;
    flex-wrap: wrap; // Temp
    text-align: center;

    &>* {
        flex-grow: 0.1;
    }
    &>.grow {
        flex-grow: 1;
    }

    input {
        vertical-align: middle;
    }

    input[type="file"] {
        display: none;
    }

    label,
    button {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;

        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    label:has(>input[type=checkbox]:checked) {
        background-color: rgba(127, 127, 127, 0.5);
    }

    &.hidden :not(#button-hide) {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .control {

        label,
        button {
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
        }
    }
}